<div class="row">
  <div class="col-4">
    <div class="form-wrapper">
      <ul class="form-step-list">
        <li>4/7 Complete
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 57%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li>1. District Employee Info</li>
        <li>2. Email verification</li>
        <li>3. District Info</li>
        <li><b>4. Employment info</b></li>
        <li>5. Performance Reviews</li>
        <li>6. Insurance</li>
        <li>7. Acceptance/Submit</li>
      </ul>  
    </div>
  </div>
  <div class="col-8">
    <div class="form-wrapper">
      <div class="panel-heading">Employer Info</div>
      <p class="text-center sub-title">Please enter information for employee.</p>
      <%= nested_form_for(build_district(@district), remote: true) do |f| %>
      <%#= nested_form_for @district, remote: true do |f| %>
        <%= hidden_field_tag :step, "forth" %>
        <%= f.fields_for :district_employments do |cf| %>
          <div class="row">
            <div class="col-6">
              <div class="district-form-container">
                <div class="form-group">
                  <div class="form-icon"><i class="fa fa-building"></i></div>
                  
                  <%= cf.text_field :school_name, :placeholder=> 'School or Institution', :class => 'form-control' %>
                </div>

                <div class="form-group">
                  <div class="form-icon"><i class="fa fa-list-ol"></i></div>
                  <%= cf.text_field :school_nces, :placeholder=> '*NCES Number', :class => 'form-control' %>
                </div>

                <div class="form-group">
                  <div class="form-icon"><i class="fa fa-phone"></i></div>
                  <%= cf.text_field :school_street_address, :placeholder=> '*School Street Address', :class => 'form-control' %>
                </div>

                <div class="form-group">
                  <div class="form-icon"><i class="fa fa-map-marker"></i></div>
                  <%= cf.text_field :school_state, :placeholder=> '*Schools State', :class => 'form-control' %>
                </div>
                <div class="form-group">
                  <div class="form-icon"><i class="fa fa-map-marker"></i></div>
                  <%= cf.text_field :school_city, :placeholder=> '*Schools City', :class => 'form-control' %>
                </div>
                <div class="form-group">
                  <div class="form-icon"><i class="fa fa-list-alt"></i></div>
                  <%= cf.number_field :school_zipcode, :placeholder=> '*Schools Zip Code', :class => 'form-control' %>
                </div>
                <center><small>*Auto populate</small></center>
              </div>   
            </div>
            <div class="col-6">
              <div class="district-form-container employer-form-right">
                <div class="form-group">
                  <%= cf.text_field :school_position, :placeholder=> 'Position', :class => 'form-control' %>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-6">
                      <%= cf.text_field :school_grade, :placeholder=> 'Grade', :class => 'form-control' %>
                    </div>
                    <div class="col-6">
                      <%= cf.text_field :school_subject, :placeholder=> 'Subject', :class => 'form-control' %>
                    </div>
                  </div>
                </div>
                <div class="border-box form-group">
                  <p class="sub-title"><center>Dates of service</center></p>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <div class="form-icon"><i class="fa fa-calendar"></i></div>
                          <%= cf.text_field :school_date_service_from, :placeholder=> 'From', :class => 'form-control datepicker' %>
                        </div>  
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <div class="form-icon"><i class="fa fa-calendar"></i></div>
                          <%= cf.text_field :school_date_service_to, :placeholder=> 'To', :class => 'form-control datepicker' %>
                        </div>  
                      </div>
                    </div>
                </div>

                <div class="border-box form-group">
                  <center>Days in Full Contract Year</center>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <center><%= cf.number_field :school_contract_year, :placeholder=> '000', :class => 'form-control small-input' %> </center>
                        </div>  
                      </div>
                    </div>
                </div>

                <div class="border-box form-group">
                  <center>Employment Status</center>
                  <div class="form-group salary-inputs">
                    <div class="border-box">
                      <center>
                        <span>
                        <%= cf.radio_button 'school_employment_status', 'yes' %>
                        <%= cf.label :school_employment_status, 'Fulltime' %></span>
                        <span>
                        <%= cf.radio_button 'school_employment_status', 'no', :checked => true%>
                        <%= cf.label :school_employment_status, 'Part time'  %></span>
                        
                      </center>
                    </div>
                  </div>
                </div>
                <div class="border-box form-group">
                  <center>Hours Per Day</center>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <center><%= cf.number_field :school_hour_rate, :placeholder=> '000', :class => 'form-control small-input' %> </center>
                        </div>  
                      </div>
                    </div>
                </div>
                <div class="border-box form-group">
                  <center>Was Certificate held at time of service?</center>
                  <div class="form-group salary-inputs">
                    <div class="border-box">
                      <center>
                        <span>
                        <%= cf.radio_button 'school_certificate_service', 'yes' %>
                        <%= cf.label :school_certificate_service, 'Yes' %></span>
                        <span>
                        <%= cf.radio_button 'school_certificate_service', 'no', :checked => true %>
                        <%= cf.label :school_certificate_service, 'No'  %></span>
                        
                      </center>
                    </div>
                  </div>
                </div>
                <div class="border-box form-group">
                  <center>Eligible for immediate re­employment</center>
                  <div class="form-group salary-inputs">
                    <div class="border-box">
                      <center>
                        <span>
                        <%= cf.radio_button 'school_reemployment', 'yes' %>
                        <%= cf.label :school_reemployment, 'Yes' %></span>
                        <span>
                        <%= cf.radio_button 'school_reemployment', 'no', :checked => true %>
                        <%= cf.label :school_reemployment, 'No'  %></span>
                        
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <p>
          <%= f.link_to_add :district_employments do %>
            <i class="fa fa-plus-circle add-user"><span>Add Employment</span></i>
          <% end %>  
        </p>
        <div class="clearfix"></div>
        <div class="field district-btn">
          <center>
            <%= f.submit "Next", :class => "btn btn-success submit-btn" %>
          </center>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
    // $('.add_nested_fields').click();
  });
</script>

<script type="text/javascript">
  // $(function(){
    $(document).ready(function(){
      var form_count = $('form .fields').length;
      if(form_count > 0){
        $("form .fields").attr('id', 'form' + form_count);
      }

      $(document).on('nested:fieldAdded', function(event){
        var next_form_count = $('form .fields').length;
        var panel_heading   = "Employer " + (next_form_count -1);
        var previous_form   = next_form_count -1;
        var accordian = $("#form" + previous_form ).find("input")[0].value

        $(event.field[0]).attr('id', 'form' + next_form_count);
        $('.sub-title').append('<div class="form-group form-custom-label" id="'+previous_form+'"><div class="row"><div class="col-md-3"><label>'+ panel_heading +'</label></div><div class="col-md-9"><div class="e-form-1" id="e-form-1"><i class="fa fa-caret-right toggle-arrow"></i><input type="text" name="fname" value="'+ accordian +'"  class="form-control" readonly><br></div></div></div></div>');
        $('#form' + previous_form).slideUp(500);
      });
      
      $(document).on('click', '.form-custom-label', function(){
        var current_obeject_value = parseInt($(this).attr('id'));
        var next_form = $('form .fields').length;
        $('#form' + next_form).hide();
        $('#form' +  $(this).attr('id')).slideDown(500);
      });
    });
</script>