<div class="row">
  <div class="col-4">
    <div class="form-wrapper">
      <ul class="form-step-list">
        <li>1/7 Complete
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 14%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li><b>1. District Employee Info</b></li>
        <li>2. Email verification</li>
        <li>3. District Info</li>
        <li>4. Employment info</li>
        <li>5. Performance Reviews</li>
        <li>6. Insurance</li>
        <li>7. Acceptance/Submit</li>
      </ul>  
    </div>
  </div>
  <div class="col-6">
    <div class="form-wrapper">
      <div class="panel-heading">Greetings, lets start with some very basic information about you!</div>
      <%= form_for @district, url: districts_path, remote: true do |f| %>
        <%= f.hidden_field :name %>
      <%#= form_tag districts_path, remote: true do %>
        <div class="district-form-container">
          <div class="form-group">
            <div class="form-icon"><i class="fa fa-building"></i></div>
            <%= hidden_field_tag :step, "first" %>
            <%= text_field_tag :first_name, session[:district_employee].present? ? session[:district_employee]["first_name"].present? ? session[:district_employee]["first_name"] : "" : "", :placeholder=> 'First Name', :class => 'form-control' %>
          </div>

          <div class="form-group">
            <div class="form-icon"><i class="fa fa-building"></i></div>
            <%= text_field_tag :last_name, session[:district_employee].present? ? session[:district_employee]["last_name"].present? ? session[:district_employee]["last_name"] : "" : "", :placeholder=> 'Last Name', :class => 'form-control' %>
          </div>

          <div class="form-group">
            <div class="form-icon"><i class="fa fa-address-book"></i></div>
            <%= text_field_tag :job_title, session[:district_employee].present? ? session[:district_employee]["job_title"].present? ? session[:district_employee]["job_title"] : "" : "", :placeholder=> 'Job Title', :class => 'form-control', required: true %>
          </div>

          <div class="form-group">
            <div class="form-icon"><i class="fa fa-address-book"></i></div>
            <%= email_field_tag :email, session[:district_employee].present? ? session[:district_employee]["email"].present? ? session[:district_employee]["email"] : "" : "", :placeholder=> 'Email Address', :class => 'form-control' %>
          </div>

          <div class="form-group">
            <div class="form-icon"><i class="fa fa-phone"></i></div>
            <%= number_field_tag :phone_number, session[:district_employee].present? ? session[:district_employee]["phone_number"].present? ? session[:district_employee]["phone_number"] : "" : "", :placeholder=> 'Phone Number', :class => 'form-control' %>
          </div>
          <center><small>*Auto populate</small></center>
        </div>
        <div class="field">
          <%= submit_tag "Next", :class => "btn btn-success submit-btn" %>
        </div>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>